<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School Lessons</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div id="app">
        <header>
            <h1>After School Lessons</h1>
            <button class="view-cart-btn" :disable="cart.length === 0 && !showcart" @clcik="toggleView">
                <i class="fa-solid fa-cart-shopping"></i>
                {{ showcart ? 'Back to Lessons' : 'View Cart (' + cartcount + ')' }}
            </button>
        </header>

        <main>
            <div v-if="!showcart" class="main-layout">
                <!-- Sidebar / Sort Box -->
                <div class="sort-box">
                    <h3>Sort Lessons</h3>
                    <div class="sort-options">
                        <label><input type="radio" value="subject" v-model="sortKey"> Subject</label>
                        <label><input type="radio" value="location" v-model="sortKey"> Location</label>
                        <label><input type="radio" value="price" v-model="sortKey"> Price</label>
                        <label><input type="radio" value="spaces" v-model="sortKey"> Spaces</label>
                        <div class="order-toggle">
                            <label><input type="radio" value="asc" v-model="sortOrder"> Ascending</label>
                            <label><input type="radio" value="desc" v-model="sortOrder"> Descending</label>
                        </div>
                    </div>
                </div>


                <section class="lesson-section">
                    <p class="lesson-count">Lessons ({{ filteredAndSorted.length}})</p>
                    <div class="search-container">
                        <input type="text" v-model="searchQuery" placehyolder="🔍 Search lesson...." class="search-bar" />
                    </div>
                </section>


            </div>
        </main>





</body>

</html>